@charset "UTF-8";
body {
	margin:0px;
	font-family:'Lato',Arial, Helvetica, sans-serif;
	font-weight:300;
	font-size:15px;
	line-height: 18px;
	color:#333333;
	background-color:#ffffff;}
	
h1 {
	font-family: 'Cinzel Decorative', cursive;Tahoma, Geneva, sans-serif;
	font-size:24px;
	}


#wordsbox
{ float:left; width:500px; padding: 15px;}
#imagebox
{ float:left; width:300px;}


.upsidedown {    -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV"; }

	
	@media only screen and (max-width: 500px) {
#wordsbox
{ width:100%; padding: 10px; margin:auto,5px;}
#imagebox
{ width:100%; padding: 10px; margin:auto,5px;}

	}